.quiz-two p:first-of-type  a:hover{
    font-size: 40px;
    color: brown;
}
.quiz-two a:visited{
    color: green;
}

.quiz-three h1:first-of-type {
    color: blue;
    font-size: 40px;
}

.quiz-three p:last-of-type {
    color: green;
    font-size: 22px;
}

.quiz-four p:nth-child(even){
    background-color: yellow;
}

.quiz-four p:nth-child(odd){
    background-color: rgb(0, 255, 0);
}

.quiz-five  p:nth-child(2n + 1) {
    background-color: burlywood;
}
.quiz-six p:nth-last-child(-n + 3) {
    background-color: burlywood;
}

.quiz-seven p{
    background-color: brown;
}
.quiz-seven p:nth-child(6){
    background-color: transparent;
}
.quiz-eight p:nth-child(n + 4):nth-child(-n + 6) {
    background-color: burlywood;
}
.quiz-nine a:after {
    content: " [" attr(href) "]";
}