.quiz-one h1:first-of-type {
    color: blue;
    font-size: 40px;
}

/* Change last paragraph using structural selector */
.quiz-one p:last-of-type {
    color: green;
    font-size: 22px;
}
.quiz-two p:first-of-type  a:hover{
    font-size: 40px;
    color: brown;
}
.quiz-two a:visited{
    color: green;
}

.quiz-three p:nth-child(even){
    background-color: yellow;
}
.quiz-three p:nth-child(odd){
    background-color: rgb(0, 255, 0);
}
.quiz-four p{
    background-color: brown;
}
.quiz-four p:nth-child(6){
    background-color: transparent;
}
.quiz-five  p:nth-child(2n + 1) {
    background-color: burlywood;
}
.quiz-six p:nth-last-child(-n + 3) {
    background-color: burlywood;
}
.quiz-seven  p:nth-last-child(-n + 3) {
    background-color: burlywood;
}
.quiz-eight p:nth-child(n + 4):nth-child(-n + 6) {
    background-color: burlywood;
}
.quiz-nine a:after {
    content: " [" attr(href) "]";
}